@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 37, 42, 1);
}

li, a, button {
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
    width: 100px;
    height: auto;
}

nav {
    order: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li:nth-child(1) {
    padding: 0px 20px 0 0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgba(65, 193, 186, 1);
}

.cta {
    order: 2;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:  rgba(65, 193, 186, 1);
    color: rgba(70, 91, 107, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(70, 91, 107, 0.5);
    color: orange;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("Yvette.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
  }

  .hero-content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background-color: transparent;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  p {
    font-size: 1.2em;
    background-color: transparent;
  }

  .about-me {
    text-align: left;
    color: white;
    margin: 15%;
  }

  .aboutme-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 10px;
  }

  .grid-item {
    width: 300px;
    height: auto;
  }

  img {
    background-image: url("media/clouds.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .skills {
    text-align: left;
    color: white;
    margin: 15%;
    gap: 5px;
  }

  .projects {
    margin: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
  }
  
  .project-item {
    border: 5px solid rgba(70, 91, 107, 1);
    padding: 5px;
    text-align: center;
  }
  
  .project-item img {
    max-width: auto;
    height: 400px;
  }
  
  .project-item h3 {
    margin-top: 10px;
    background-color: transparent;
  }
  
  .project-item p {
    margin-top: 10px;
    color:white;
  }

  .container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form{
    background:rgba(70, 91, 107, 1);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }

  form h3 {
    color:rgba(70, 91, 107, 1);
    font-weight: 800;
    margin-bottom: 20px;
    background:rgba(65, 193, 186, 1);
  }

  form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background:white;
    font-size: 16px;
  }

  form button{
    padding: 15px;
    border: 0;
    outline: none;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  footer {
    background:rgba(65, 193, 186, 1);
    color:white;
    width: 100%;
    height: 20px;
    text-align: center;
  }

